/* Form-section-start */
.login-form-logo {
    text-align: center;
    margin: 10px 0;
}
.login-form-logo img{
    height: 120px;
}
.login-form{}
.login-form{}
.form-group{}
.form-group label {
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.form-group input[type="text"] {
    border: 0;
    background: #f3ecec;
    outline: #f3ecec;
    border-radius: 5px;
}
.form-group input[type="password"] {
    border: 0;
    background: #f3ecec;
    outline: #f3ecec;
    border-radius: 5px;

}
.login-form button {
    background: linear-gradient(rgb(-83,-20, 0),green);
    color: white;
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0;
    border-radius: 5px;

}
.login-form-bottom-logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.login-form-bottom-logo img{}
.login-form-content p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.login-form-footer {
    text-align: center;
    margin-top: 30px;
}
.login-form-footer h5{}
.login-form-footer p{}
/* Form-section-end */